.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand Herenow in #{location}

.container
  .row
    h1='Editing Device'
    form.form-horizontal(method='post',action='/devices/#{device.mac}')
      .control-group
        label.control-label='Name'
        .controls
          input(type='text', name='name', value=device.name)
      .control-group
        label.control-label='Model'
        .controls
          input(type='text', name='model', value=device.model)
      .control-group
        label.control-label='Type'
        .controls
          select(name='type')
            option(value='',selected=(device.type==''))='Unknown'
            option(value='phone',selected=(device.type=='phone'))='Phone'
            option(value='tablet',selected=(device.type=='tablet'))='Tablet'
            option(value='printer',selected=(device.type=='printer'))='Printer'
            option(value='networking',selected=(device.type=='networking'))='Networking'
            option(value='set_top_box',selected=(device.type=='set_top_box'))='Set Top Box'
            option(value='computer',selected=(device.type=='computer'))='Computer'
            option(value='laptop',selected=(device.type=='laptop'))='Laptop'
            option(value='console',selected=(device.type=='console'))='Console'
            option(value='misc',selected=(device.type=='misc'))='Misc'
      .control-group
        label.control-label='User'
        .controls
          select(disabled=true)
      .control-group
        label.control-label='Power (W)'
        .controls
          input(type='text', name='manual_power', value=device.manual_power)
      .control-group
        label.control-label='Storage (Wh)'
        .controls
          input(type='text', name='manual_storage', value=device.manual_storage)
      .control-group
        .controls
          input(type='submit',value='Save')
  .row
    h2='Device data'
    table.table
      tr
        td='MAC Address'
        td=device.mac
      tr
        td='IP Address'
        td=device.ip
      tr
        td='AMON device'
        td=device.amon_device_uuid
      tr
        td='Services'
        td=device.services
      tr
        td='Current power'
        td=device.power + ' W'
      tr
        td='Current storage'
        td=device.storage + ' Wh'
