.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand Herenow in #{location}

.container
  .row
    .hero-unit
    
      //- show the people first
      h4 Known people in this space
        ul.row
          each user in users
            li.span3
              ul
                li
                  img(src=gravatar.url(user.email, {s: '200', r: 'r', d: 'retro'}))
                li=user.email
                li=user.username


      h4 Unidentified devices in this space    
        ul.row
          each device in unidentifiedDevices
            li.span3
              ul
                li
                  img(src=gravatar.url(device.mac, {s: '200', r: 'r', d: 'retro'}))
                li=device.ip
                li=device.mac
        
      h4 Known devices that can be ignored
        ul.row
          each device in knownDevices
            li.span3
              ul
                li
                  img(src=gravatar.url(device.name, {s: '200', r: 'r', d: 'retro'}))
                li=device.ip
                li=device.mac
