.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand Herenow in #{location}

.container
  .row
    .hero-unit
    
      h3 Known people in this space
        ul.thumbnails
          each user in users
            li.span2
              div.thumbnail
                img(src=gravatar.url(user.email, {s: '200', r: 'r', d: 'retro'}),alt=user.username)
                h3=user.username


      h3 Owned devices
        ul.thumbnails
          each device in ownedDevices
            li.span2
              div.thumbnail
                img(src=gravatar.url(device.name||device.mac, {s: '200', r: 'r', d: 'retro'}))
                h4=device.name||device.mac
                p=device.user
        
      h3 Ownerless devices
        ul.thumbnails
          each device in ownerlessDevices
            li.span2
              div.thumbnail
                img(src=gravatar.url(device.mac, {s: '200', r: 'r', d: 'retro'}))
                h4=device.name||device.mac
