meta(http-equiv="refresh",content="15")

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand Herenow in #{location}

.container
  .row
    .hero-unit
    
      h3 Known people in this space
      ul.thumbnails
        each user in presentUsers
          li.span2
            div.thumbnail
              img(src=gravatar.url(user.email, {s: '200', r: 'r', d: 'retro'}),alt=user.username)
              h3=user.username
              ul.unstyled
                each device in user.devices
                  li=device.name||device.model||device.mac                
        each user in awayUsers
          li.span2
            div.thumbnail
              img(src=gravatar.url(user.email, {s: '200', r: 'r', d: 'retro'}),alt=user.username,class='away')
              h3.away=user.username

      h3 Power status
        dl
          dt Power
          dd=power_state.power + ' W'
          dt Storage
          dd=power_state.storage + ' Wh'

      h3 Ownerless devices
      ul.thumbnails
        each device in ownerlessDevices
          li.span2
            div.thumbnail
              a(href='/devices/'+device.mac)
                img(src=gravatar.url(device.mac, {s: '100', r: 'r', d: 'retro'}))
              h3=device.name||device.model||device.ip
              p=device.type
              if device.power
                p=device.power + ' W / ' + (device.storage||'0') + ' Wh'

      h3 Disconnected devices
      ul.thumbnails
        each device in disconnectedDevices
          li.span2
            div.thumbnail
              a(href='/devices/'+device.mac)
                img(src=gravatar.url(device.mac, {s: '100', r: 'r', d: 'retro'}),class='away')
              h4.away=device.name||device.model||device.mac
              p.away=device.user||''
              p=device.type
